<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BBloGer</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BBloGer.styles.css" asp-append-version="true" />
</head>
<body class="m-0">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BBloGer</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-screwdriver-wrench fa-fade" style="color: #04070b;"></i> İşlemler
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-action="Create" asp-controller="Note"><i class="fa fa-plus me-2"></i>Not Ekle</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" asp-action="Index" asp-controller="Note"><i class="fa fa-th-list me-2"></i>Yazılarım</a></li>
                                <li><a class="dropdown-item" asp-action="LikedList" asp-controller="Note"><i class="fa fa-star me-2"></i>Beğendiklerim</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" asp-action="Create" asp-controller="Category"><i class="fa fa-plus me-2"></i>Kategori Ekle</a></li>
                                <li><a class="dropdown-item" asp-action="Index" asp-controller="Category"><i class="fa fa-th-list me-2"></i>Kategorileri Yönet</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" asp-action="Create" asp-controller="User"><i class="fa fa-plus me-2"></i>Kullanıcı Ekle</a></li>
                                <li><a class="dropdown-item" asp-action="Index" asp-controller="User"><i class="fa fa-th-list me-2"></i>Kullanıcıları Yönet</a></li>
                            </ul>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              <i class="fa fa-th-list me-2"></i>  Kategoriler
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-action="Index" asp-controller="Home"><i class="fa fa-th-list me-2"></i>Tümü</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" asp-action="Index" asp-controller="Home" asp-route-id="1"><i class="fa fa-th-list me-2"></i>Kategori 1</a></li>
                                <li><a class="dropdown-item" asp-action="Index" asp-controller="Home" asp-route-id="2"><i class="fa fa-th-list me-2"></i>Kategori 2</a></li>
                            </ul>
                        </li>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="MostLiked"><i class="fa fa-star me-2"></i>En Beğenilenler</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-th-list me-2"></i>Son Yazılanlar</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login"><i class="fa fa-sign-in me-2"></i>Giriş</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Register"><i class="fa fa-user me-2"></i>Kayıt</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-user me-2"></i> burakguzelisik
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-action="ProfileShow" asp-controller="Home"><i class="fa fa-user-ninja me-2"></i>Profil Göster</a></li>
                                <li><a class="dropdown-item" asp-action="ProfileEdit" asp-controller="Home"><i class="fa fa-user-edit me-2"></i>Profil Düzenle</a></li>
                                <li><a class="dropdown-item" asp-action="DeleteProfile" asp-controller="Home"><i class="fa fa-times text-danger me-2"></i>Profil Sil</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" asp-action="Logout" asp-controller="Home"><i class="fa fa-sign-out me-2"></i>Çıkış</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    @await RenderSectionAsync("Carousel", required : false) 

    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top ">
        <div class="container-fluid ">
            <div class="row p-3 ">
				<div class="col-9 ">
                    &copy; @DateTime.Now.Year - BBloGer - By :Burak Gökhan Güzelışık <br /> 
                    <a asp-area="" asp-controller="Home" asp-action="Privacy">Gizlilik</a> |
                    <a asp-area="" asp-controller="Home" asp-action="About">Hakkımızda</a> |
                    <a asp-area="" asp-controller="Home" asp-action="Index">Son Yazılar</a> |
                    <a asp-area="" asp-controller="Home" asp-action="Login">Giriş</a> |
                    <a asp-area="" asp-controller="Home" asp-action="Register">Kayıt</a>
                </div>
				<div class="col-3 text-end">
                    <div class="input-group ">
                        <input type="text" class="form-control" placeholder="E-posta Adresiniz" />
                        <button class="btn btn-primary " type="button"><i class="fa fa-send"></i>Gönder</button>
                    </div>
                    <small>
                        *Abonelik sistemi bilgi için e-posta adresini yazınız
                    </small>
                </div>  
			</div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
