@model RegisterViewModel
@{
    ViewData["Title"] = "Kayıt ol";
}

<style>
    .login-box {
        border: 3px solid white;
        box-shadow: 2px 2px 15px black;
    }

    .carausel {
        border: 3px solid black;
        box-shadow: 2px 2px 15px black;
    }
</style>

<div class="row">
    <div class="col-4 p-5">
        <div class="p-5 login-box">
            <h2 class="text-center">Kayıt ol</h2>
            <div  asp-validation-summary="All" class="text-danger small text-center"></div>
            <form method="post" asp-action="Register">
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fa fa-user" ></i></></span>
                    <input type="text" class="form-control" placeholder="Kullanıcı Adı" asp-for="Username" />
					@*<span asp-validation-for="Username" class="text-danger small"></span>*@
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fa fa-envelope"></i></></span>
                    <input type="email" class="form-control" placeholder="E-posta adresi" asp-for="Email" />
                    @*<span asp-validation-for="Email" class="text-danger small"></span>*@
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" ><i class="fa fa-key"></i></></span>
                    <input type="password" class="form-control" placeholder="Şifre" asp-for="Password" />
                    @*<span asp-validation-for="Password" class="text-danger small"></span>*@
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fa fa-key"></i></></span>
                    <input type="password" class="form-control" placeholder="Şifre Tekrar" asp-for="RePassword" />
                   @* <span asp-validation-for="RePassword" class="text-danger small"></span>*@
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-save me-2"></i>Kayıt ol</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-8 p-5">
        <div class="carausel">
            <div id="carousel" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://picsum.photos/600/400?random=1" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>First slide label</h5>
                            <p>Some representative placeholder content for the first slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://picsum.photos/600/400?random=2" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Second slide label</h5>
                            <p>Some representative placeholder content for the second slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://picsum.photos/600/400?random=3" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Third slide label</h5>
                            <p>Some representative placeholder content for the third slide.</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Öceki</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Sonraki</span>
                </button>
            </div>
        </div>
    </div>
</div>
